*{
    padding: 0;
    margin: 0;
}
body{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    background: black;
    color: #f4f4f4;
}

form{
    border: 2px solid gray;
    padding: 4px;
    margin: auto;
    width: 50%; 
    height: auto;
   text-align: justify; 
}
table{
    text-align: left;
    padding: 6px;
    margin: aut
    o;
    border-collapse: collapse;
}

th, td {
    border: 2px solid rgb(170, 166, 166); /* Border around table cells */
    padding: 8px; /* Adds spacing inside cells */
    border-radius: 5px;
}

input{
    padding: 4px;
    margin: 6px;
    width: 50px;
    border: none;
    border-radius: 5px;
}
select{
    border: none;
    border-radius: 7px;
    margin: 5px;
    padding: 7px;

}
form button{
    margin: 5px;
    padding: 7px;
    border: none;
    border-radius: 5px;

}